@import "../../index.less";

.sidebar {
    position: sticky;
    top: calc(@title-bar-height + @nav-bar-height);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: @sidebar-width;
    height: calc(100vh - @nav-bar-height - @title-bar-height);
    background-color: var(--sidebarBG);
    transition: margin-left 0.5s, height 0.2s, top 0.4s, background-color 0s;
}

.hide-sidebar {
    margin-left: -@sidebar-width;
}

.sidebar-top {
    top: @nav-bar-height;
    height: calc(100vh - @nav-bar-height);
}

.sidebar-relative {
    transition: all 0s;
    position: relative;
    top: 0px !important;
    height: auto !important;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-top: 0px;
    height: 100%;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 100%;
}

.search-container {
    display: flex;
    border: 1px solid black;
}

.search {
    height: 30px;
    width: 135px;
    background-color: var(--sidebarSearchBG);
    border: none;
    font-family: Tahoma, sans-serif;
    font-size: 17px;
    color: var(--text);
    padding: 5px;
}

.search-icon {
    width: auto;
    height: 30px;
    cursor: pointer;
}

.search-image-icon {
    width: auto;
    height: 30px;
    cursor: pointer;
}

.random-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.random {
    width: auto;
    height: 33px;
    border: 1px solid black;
    cursor: pointer;
    &:hover {
        border: 1px solid #ff4fb6;
    }
}
.random-mobile {
    width: auto;
    height: 30px;
    cursor: pointer;
}

.sidebar-subcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    //height: 100%;
    margin-top: 3px;
}

.sidebar-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 1px;
}

.tag-hover {
    display: flex;
    cursor: pointer;
    align-items: center;
    &:hover {
        filter: brightness(150%);
    }
}

.tag {
    font-family: Tahoma, sans-serif;
    color: var(--tagColor);
    font-size: 16px;
    word-break: break-word;
    //.stroke-black-thin();
}

.tag-alt {
    font-family: Tahoma, sans-serif;
    color: var(--tagCountColor);
    font-size: 15px;
    margin-left: 10px;
    //.stroke-black-thin();
}

.tag-alt-link {
    .tag-alt();
    cursor: pointer;
    &:hover {
        filter: brightness(130%);
    }
}

.tag-count {
    font-family: Tahoma, sans-serif;
    color: var(--tagCountColor);
    font-size: 14px;
    margin-left: 10px;
    //.stroke-black-thin();
}

.tag-info {
    width: auto;
    height: 13px;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 4px;
    &:hover {
        filter: brightness(130%);
    }
}

.sidebar-footer {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.sidebar-footer-text {
    font-family: Tahoma, sans-serif;
    color: var(--navbarText);
    font-size: 12px;
}

.sidebar-footer-icon {
    cursor: pointer;
    &:hover {
        filter: brightness(200%);
    }
}

.sidebar-text-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 3px;
}

.sidebar-text {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: var(--sidebarText);
    //.stroke-black-thin();
}

.tag-red {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #fd56a9;
    //.stroke-black-thin();
}

.tag-green {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #56fdaa;
    //.stroke-black-thin();
}

.sidebar-title {
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    color: var(--sidebarText);
    //.stroke-black-thin();
    margin-top: 5px;
}

.sidebar-img {
    width: auto;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidebar-icon {
    width: auto;
    height: 15px;
    margin-right: 5px;
}

.mobile-sidebar {
    position: sticky;
    top: @title-bar-height;
    //top: 0px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--sidebarBG);
    transition: transform 0.3s background-color 0s;
    padding: 10px;
}

.mobile-sidebar-relative {
    position: relative;
    top: 0px !important;
}

.hide-mobile-sidebar {
    position: relative;
    top: 0px;
    transform: translateY(-137px);
}

.mobile-search-container {
    display: flex;
    width: max-content;
    border: 1px solid black;
}

.mobile-search {
    height: 40px;
    width: 270px;
    background-color: var(--sidebarSearchBG);
    border: none;
    font-family: Tahoma, sans-serif;
    font-size: 27px;
    color: var(--text);
    padding: 5px;
}

.sidebar-username-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    &:hover {
        filter: brightness(130%);
    }
}

.sidebar-user-label {
    margin-left: 3px;
    width: auto;
    height: 20px;
}

.sidebar-social {
    width: auto;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
    &:hover {
        filter: brightness(130%);
    }
}

.autosearch {
    margin-left: 4px;
    width: auto;
    height: 29px;
    cursor: pointer;
    &:hover {
        filter: brightness(130%);
    }
}