#Sensitive data
.env
.ssh
dump.rdb
*.pem

#Node modules
node_modules
__pycache__

#Compiled folder
dist
dist2

#IDE settings
.vscode
.idea

#Downloaded Files
files
dump

#Other
.DS_Store

#Crypto
structures/CryptoFunctions.ts

#Live2D Cubism
assets/live2d/*

#WDTagger (large)
assets/misc/wdtagger

#unfinished
vite.config.js