@import "~react-image-crop/dist/ReactCrop.css";
@title-bar-height: 74px;
@nav-bar-height: 33px;
@sort-bar-height: 38px;
@footer-height: 25px;
@sidebar-width: 220px;

:root {
    --selection: #6c69fc;
    --background: #09071c;
    --background2: #080622;
    --titlebarBG: #090420;
    --titleTextA: #6814ff;
    --titleTextB: #4214ff;
    --titlebarText: #431dff;
    --navbarBG: #0b0322;
    --navbarText: #3a1cff;
    --navbarUserText: #fe23ae;
    --sidebarBG: #0a041e;
    --sidebarText: #ff11df;
    --sidebarSearchFocus: #2908e0;
    --sidebarSearchBG: #0e0631;
    --tagColor: #641fff;
    --artistTagColor: #ff1994;
    --characterTagColor: #ff1ce6;
    --seriesTagColor: #34ff5d;
    --metaTagColor: #1ceaff;
    --tagCountColor: #ff1fe7;
    --sortbarBG: rgba(11, 3, 34, 0.95);
    --tooltipBG: rgba(11, 3, 34, 0.85);
    --sortbarText: #3538fc;
    --imageBorder: #0a0f7f;
    --inputBorder: black;
    --text: #2924ff; // #2f28fd; //#4311ff;
    --text-alt: #6a19ff;
    --text-strong: #ff26ba;
    --inputBG: #050020;
    --buttonBG: #ff11af;
    --footerBG: #0b0322;
    --drop-color1: rgba(59, 13, 165, 0.7);
    --drop-color2: rgba(86, 26, 226, 0.9);
    --bubbleBG: rgba(89, 43, 255, 0.8);
}

.purple-light {
    --selection: #e0e0ff;
    --background: #ffffff;
    --background2: #f7f7ff;
    --titlebarBG: #dfdfff;
    --titleTextA: #745dff;
    --titleTextB: #5d60ff;
    --titlebarText: #7e66ff;
    --navbarBG: #dbddff;
    --navbarText: #6c47ff;
    --navbarUserText: #ad3cff;
    --sidebarBG: #e8e9ff;
    --sidebarText: #a92fff;
    --sidebarSearchFocus: #8581ff;
    --sidebarSearchBG: #dbdaff;
    --tagColor: #9957ff;
    --tagCountColor: #6b59ff;
    --sortbarBG: rgba(240, 240, 255, 0.3);
    --tooltipBG: rgba(240, 240, 255, 0.5);
    --sortbarText: #6d77ff;
    --imageBorder: #7fa0ff;
    --inputBorder: #7fa0ff;
    --text: #7b6dff;
    --text-alt: #cb7cff;
    --text-strong: #b264df;
    --inputBG: #f4f2ff;
    --buttonBG: #c592ff;
    --footerBG: #dfdfff;
    --drop-color1: rgba(153, 112, 250, 0.7);
    --drop-color2: rgba(158, 124, 252, 0.9);
    --bubbleBG: rgba(202, 171, 255, 0.8);
}

.magenta {
    --selection: #fc69c4;
    --background: #17040e;
    --background2: #1c0412;
    --titlebarBG: #1c0511;
    --titleTextA: #ff14da;
    --titleTextB: #ff14a5;
    --titlebarText: #ff14a5;
    --navbarBG: #1e0514;
    --navbarText: #ff16a6;
    --navbarUserText: #fe2389;
    --sidebarBG: #1a0610;
    --sidebarText: #ff1188;
    --sidebarSearchFocus: #e0087f;
    --sidebarSearchBG: #2b0822;
    --tagColor: #ff1fb4;
    --tagCountColor: #ff1ff4;
    --sortbarBG: rgba(30, 7, 25, 0.95);
    --tooltipBG: rgba(30, 7, 25, 0.85);
    --sortbarText: #f71ec1;
    --imageBorder: #630d3f;
    --inputBorder: black;
    --text: #ff11a4;
    --text-alt: #ff11cf;
    --text-strong: #ff26c9;
    --inputBG: #240117;
    --buttonBG: #ff3ab3;
    --footerBG: #1e0514;
    --drop-color1: rgba(165, 13, 76, 0.7);
    --drop-color2: rgba(226, 26, 119, 0.9);
    --bubbleBG: rgba(255, 43, 202, 0.8);
}

.magenta-light {
    --selection: #ffd0ed;
    --background: #ffffff;
    --background2: #fff8fb;
    --titlebarBG: #ffe2f2;
    --titleTextA: #ff62b8;
    --titleTextB: #ff6cda;
    --titlebarText: #ff76cb;
    --navbarBG: #ffe0f1;
    --navbarText: #ff53c6;
    --navbarUserText: #ff46ac;
    --sidebarBG: #ffe8f5;
    --sidebarText: #ff37bc;
    --sidebarSearchFocus: #fc38c1;
    --sidebarSearchBG: #ffeefd;
    --tagColor: #ff65de;
    --tagCountColor: #ff57b3;
    --sortbarBG: rgba(255, 241, 251, 0.3);
    --tooltipBG: rgba(255, 241, 251, 0.5);
    --sortbarText: #ff7ee9;
    --imageBorder: #ff92c9;
    --inputBorder: #ff92db;
    --text: #ff85cc;
    --text-alt: #ff95f8;
    --text-strong: #f37dc6;
    --inputBG: #fff2f9;
    --buttonBG: #ff8fda;
    --footerBG: #ffe2f2;
    --drop-color1: rgba(245, 116, 180, 0.7);
    --drop-color2: rgba(255, 136, 225, 0.9);
    --bubbleBG: rgba(255, 189, 244, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--titlebarBG) var(--background);
}

.stop-transitions * { 
    transition: none !important; 
}

.no-scroll {
    overflow: hidden;
}

html {
    visibility: hidden;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    z-index: -1000;
    -webkit-touch-callout: none;
}

body {
    overflow-x: hidden;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--background);
}

.body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 500px) {
    .body {
        flex-direction: column;
    }
}

::selection {
    background-color: var(--selection);
}


::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--titlebarBG);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--navbarBG);
}


.stroke-black() {
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black,0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black,0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black,0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.stroke-black-thin() {
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black,0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black,0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black,0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.stroke-white() {
    text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white,0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white,0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white,0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

input[type=number] {
    -moz-appearance:textfield;
}

div:focus, input:focus, button:focus, textarea:focus {
    outline: none;
}

input[type="file"] {
    display: none;
}

a {
    display: inline-flex;
    text-decoration: none;
}

img {
    image-rendering: crisp-edges;
}

.rotate {
    animation: rotate 3.5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.cloth-background() {
    @color: var(--background);
    @color2: var(--background2);
    background-color: @color;
    background-image: linear-gradient(90deg, @color2 50%, transparent 50%),
    linear-gradient(@color2 50%, transparent 50%);
    background-size: 60px 60px;
}

.polkadot-background() {
    @color: var(--background);
    @color2: var(--background2);
    background-color: @color;
    background-image: radial-gradient(@color2 15%, transparent 16%),
    radial-gradient(@color2 15%, transparent 16%);
    background-size: 30px 30px;
    background-position: 0 0, 30px 30px;
}

.zags-background() {
    @color: var(--background);
    @color2: var(--background2);
    background: linear-gradient(135deg, @color2 25%, transparent 25%) -50px 0,
      linear-gradient(225deg, @color2 25%, transparent 25%) -50px 0,
      linear-gradient(315deg, @color2 25%, transparent 25%),
      linear-gradient(45deg, @color2 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: @color;
}
  
.arrow-background() {
    @color: var(--background);
    @color2: var(--background2);
    background:
    linear-gradient(45deg, @color2 45px, transparent 45px)64px 64px,
    linear-gradient(45deg, @color2 45px, transparent 45px, transparent 91px, @color 91px, @color 135px, transparent 135px),
    linear-gradient(-45deg, @color2 23px, transparent 23px, transparent 68px, @color2 68px, @color2 113px,transparent 113px, transparent 158px, @color2 158px);
    background-color: @color;
    background-size: 128px 128px;
}


.react-transform-wrapper {
    z-index: 1100;
    height: 100% !important;
}

.react-transform-component {
    height: 100% !important;
    align-items: center;
}

.admin-color {
    color: #d70c67 !important;
}

.mod-color {
    color: #1365f6 !important;
}