@import "../../../index.less";

.group-thumbnail {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;  
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
    padding-bottom: 0px;
    cursor: pointer;
    border: 2px solid var(--inputBG);
    &:hover {
        border: 2px solid var(--navbarText);
    }
}

.group-thumbnail-img-outlined {  
    width: auto;
    height: 300px;
    cursor: pointer;
    border: 2px solid var(--inputBG);
    &:hover {
        border: 2px solid var(--navbarText);
    }
}

.group-thumbnail-img {
    width: auto;
    height: 250px;
}

.group-thumbnail-text-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;  
    justify-content: center;
    align-items: center;
}

.group-thumbnail-text {
    font-family: Tahoma, sans-serif;
    font-size: 22px;
    color: var(--text);
}